@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: nowregular, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
* h1 {
  font-weight: normal;
}
* h2 {
  font-weight: normal;
}
* button {
  border: 0;
  font-weight: normal;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: "nowregular";
  src: url("./now/now-regular-webfont.woff2") format("woff2"), url("css/now/now-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
  max-width: 1400px;
}

.nameSection {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nameSection__icon {
  height: 50px;
  padding-right: 10px;
}

.nameSection__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  font-size: 2.1rem;
  text-align: center;
  text-shadow: 0.5px 0 0;
}

.nameSection__title--youChange {
  font-size: 1.6rem;
}

.btn {
  margin: 10px 10px 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0.7px 0 0;
}
@media (min-width: 720px) {
  .btn {
    margin-bottom: 50px;
  }
}

.btn__icon {
  width: 60px;
}

.btn__icon--taskCooperation {
  height: 20px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  rotate: -45deg;
}

.btn__description {
  padding: 10px 0 10px 10px;
  font-size: 1.7rem;
  text-align: left;
}

.wrap__offer {
  width: 80%;
  height: 80%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px 0px #ddd;
          box-shadow: 0 0 5px 0px #ddd;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 720px) {
  .wrap__offer {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-touch-action: double-tap-zoom;
        touch-action: double-tap-zoom;
  }
}
@media (orientation: landscape) and (max-width: 720px) {
  .wrap__offer {
    overflow-y: auto;
  }
}

.wrap__offer--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__offer--support {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 720px) {
  .wrap__offer--support {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.offer_title {
  font-size: 4rem;
  line-height: 2em;
  text-shadow: 0 0px 0.5px;
  text-align: center;
}
@media (max-width: 720px) {
  .offer_title {
    font-size: 2.2rem;
  }
}

.offer_title--list {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 2.6rem;
}
@media (max-width: 720px) {
  .offer_title--list {
    position: unset;
    font-size: 1.8rem;
  }
}

.offer_title--Individual {
  margin: 0 auto;
  font-size: 3rem;
  line-height: 2em;
}
.offer_title--Individual span {
  font-size: 4rem;
  line-height: 2em;
  text-shadow: 0 0px 0.5px;
}
@media (max-width: 720px) {
  .offer_title--Individual {
    font-size: 2.2rem;
    text-align: center;
  }
  .offer_title--Individual span {
    font-size: 2.5rem;
  }
}

.offer_description {
  width: 90%;
  font-size: 3rem;
  line-height: 2em;
  text-align: center;
}
@media (max-width: 720px) {
  .offer_description {
    font-size: 1.8rem;
  }
}

.offer__icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 80px;
}
@media (max-width: 720px) {
  .offer__icon {
    position: unset;
    margin: auto 0 0 auto;
  }
}

.offer__clickMe {
  margin: 0 auto;
  height: 100px;
  width: 450px;
  text-align: center;
  background-image: url("../img/clickMe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__clickMe a {
  font-size: 3rem;
  color: #f856a6;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .offer__clickMe {
    height: 80px;
    width: 100%;
    bottom: 40%;
  }
}

.offer__icon--start {
  position: unset;
  width: 200px;
}
@media (max-width: 720px) {
  .offer__icon--start {
    width: 150px;
    margin: 20px auto;
  }
}

.offer__icon--question {
  height: 200px;
  margin-left: 20px;
}
@media (max-width: 720px) {
  .offer__icon--question {
    height: 100px;
  }
}

@media (max-width: 720px) {
  .offer__logoQuestion {
    position: absolute;
    bottom: 80px;
  }
}

.offer__nameBenefits {
  font-size: 2rem;
  text-shadow: 0 0 0.1px;
  width: 90%;
  margin: 5px auto;
}
@media (max-width: 720px) {
  .offer__nameBenefits {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
}

.offer__aboutMy {
  background-image: url("../img/list.svg");
  margin: 0 auto;
  width: 50%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer__aboutMy div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 5px;
}
.offer__aboutMy div a {
  margin-left: 10px;
  font-size: 1.6rem;
}
@media (max-width: 720px) or (orientation: portrait) {
  .offer__aboutMy {
    margin-top: 20%;
    width: 100%;
    height: 80vw;
  }
  .offer__aboutMy div {
    width: 80%;
  }
}

.offer__wrapList {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 720px) {
  .offer__wrapList {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 90%;
  }
}

.offer__wrapList--fillAvailable {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__wrapList--line li {
  list-style: none;
}
.offer__wrapList--line li ::before {
  content: "-";
  padding-right: 8px;
}

.offer__text {
  font-size: 1.6rem;
}
@media (max-width: 720px) {
  .offer__text {
    font-size: 1.4rem;
  }
}

.offer__text--bold {
  text-shadow: 0 0 0.3px;
}

.offer__text--cooperation {
  font-size: 1.6rem;
  min-width: 300px;
}
.offer__text--cooperation span {
  font-size: 1.6rem;
  text-shadow: 0 0 0.3px;
}
@media (max-width: 720px) {
  .offer__text--cooperation {
    font-size: 1.4rem;
    min-width: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .offer__text--cooperation span {
    font-size: 1.4rem;
  }
}

.offer__list {
  margin: 10px auto;
  width: 80%;
  list-style: disc;
  font-size: 1.6rem;
}
@media (max-width: 720px) {
  .offer__list {
    font-size: 1.2rem;
    width: 90%;
  }
}

.offer__list--benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  position: relative;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
}

.offer__list--appointmentMe {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90px;
}

.offer__list--center {
  margin-bottom: 10%;
}

.offer__list--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 720px) {
  .offer__list--flex {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
  }
}

.offer__text--individual {
  margin-top: 20px;
}

.offer__arrow {
  margin-right: 20px;
  width: 50px;
  height: 30px;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
@media (max-width: 720px) {
  .offer__arrow {
    width: 30px;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.offer__textStar {
  font-size: 1.2rem;
}

.offer__arrow--upIndividual {
  height: 80px;
}

.offer__footnote {
  text-align: center;
}

.offer__addDot::before {
  content: "●";
  padding-right: 8px;
}

.header {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 350px;
  background-color: #d9d9d9;
}

.header__wrapNav {
  width: 100%;
  max-width: 1400px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .header__wrapNav {
    position: fixed;
    z-index: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
  }
}

.header__wrapNav--scrol {
  background-color: #d9d9d9;
}

.header__logo {
  height: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .header__logo {
    padding: 10px;
  }
}

.logo__icon {
  height: 100%;
}

.meet__icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #ff02c9;
}

@media screen and (min-width: 720px) {
  .meet__icon:hover svg {
    height: 60px;
    width: 60px;
  }
  .meet__icon::after {
    content: "Umów spotkanie!";
    position: absolute;
    white-space: nowrap;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 110%;
    font-size: 1.2rem;
    width: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 1.4rem;
    text-shadow: 0 0 0.1px #ccc;
  }
  .meet__icon:hover::after {
    width: 120px;
  }
}
.nav__icon {
  position: fixed;
  bottom: 30px;
  left: -18px;
  z-index: 1;
  border-radius: 30px;
}
@media (min-width: 1024px) {
  .nav__icon {
    display: none;
  }
}
@media (orientation: landscape) {
  .nav__icon {
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.nav__icon--active {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.nav__icon--active svg {
  display: none;
}

.nav__elements {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  right: 150%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 80%;
  border-radius: 10px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 940px) and (orientation: landscape) {
  .nav__elements {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .nav__elements {
    padding: 0;
    position: sticky;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav__element {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid black;
}
@media (min-width: 1024px) {
  .nav__element {
    border: none;
  }
}

.nav__text {
  font-size: 1.8rem;
  line-height: 2em;
  color: #000;
}

.header__wrapPerson {
  position: sticky;
  top: 30%;
  height: 60%;
  background: url("../img/Agatka1.png") center -220px/cover no-repeat;
}
@media screen and (max-width: 1024px) {
  .header__wrapPerson {
    background-position: center -120px;
  }
}
@media screen and (orientation: portrait) {
  .header__wrapPerson {
    height: 40%;
    background: url("../img/Agatka1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.aboutMe {
  padding: 3%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.me {
  margin: 20px 0 20px 0;
  padding-top: 2%;
  text-align: center;
  font-size: 14px;
  word-spacing: 4px;
  letter-spacing: 0.7px;
}

.me__name {
  padding: 10px 0 10px 0;
  font-size: 3.2rem;
}

.me__description {
  padding: 5px 0 5px 0;
  font-size: 1.6rem;
  padding: 10px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 940px) {
  .work {
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work__myJob {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
@media screen and (max-width: 940px) {
  .work__myJob {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (orientation: landscape) and (max-width: 1024px) {
  .work__myJob {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

.work__icon {
  margin: 20px;
  width: 50px;
}

.work__subtitle {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 2.2rem;
  line-height: 2em;
  text-shadow: 0.5px 0 0;
}
@media screen and (max-width: 720px) {
  .work__subtitle {
    width: 40%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}

.work__collection {
  width: 100%;
}
@media screen and (min-width: 940px) {
  .work__collection {
    margin: 0 auto;
    width: 50%;
  }
}

.work__description {
  margin: 0 auto 0 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.7rem;
  line-height: 2em;
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}

.partner__cooperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1rem;
}
@media (min-width: 900px) {
  .partner__cooperation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}
@media (orientation: landscape) and (max-width: 900px) {
  .partner__cooperation {
    width: 90%;
  }
}

.partner__wrapDescription {
  width: 35%;
}
@media (max-width: 900px) {
  .partner__wrapDescription {
    width: 100%;
  }
}

.partner__description {
  text-align: left;
  font-size: 1.8rem;
}
@media (max-width: 900px) {
  .partner__description {
    text-align: center;
  }
}

.partner__wrapCompany {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 920px), (orientation: landscape) {
  .partner__wrapCompany {
    width: 60%;
  }
}

.partner__Company {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 0 20px;
  background-color: rgba(255, 0, 201, 0.6);
  color: white;
  line-height: 2em;
  font-size: 1.4rem;
  -webkit-animation: brand 7s infinite linear alternate;
          animation: brand 7s infinite linear alternate;
}

.partner__Company--alternate {
  animation: brand 7s infinite linear alternate-reverse;
}

@-webkit-keyframes brand {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes brand {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.bio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #f8f8f8;
}
@media (max-width: 1023px) and (orientation: portrait) {
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.photoBio {
  height: 30rem;
  margin: 20px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .photoBio {
    height: min(20vh, 80rem);
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.bio__description {
  margin: 5px 20px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-height: 70%;
  overflow: auto;
}
@media (orientation: landscape) {
  .bio__description {
    max-width: 60%;
    max-height: 85%;
  }
}
.bio__description p {
  font-size: 1.6rem;
  line-height: 2em;
}
@media (max-width: 1024px) {
  .bio__description p {
    font-size: 1rem;
    text-align: center;
  }
}
.bio__description span {
  font-size: 2.5rem;
  line-height: 2em;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .bio__description span {
    font-size: 1.2rem;
  }
}
.bio__description .closeSvg {
  display: block;
  margin: 0 10px 0 auto;
  width: 2rem;
  height: 2rem;
}
@media (max-width: 1024px) {
  .bio__description .closeSvg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

.cooperationMe {
  padding: 3%;
}

.taskCooperation {
  margin: 0 auto;
}
.taskCooperation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.taskCooperation li p {
  padding-left: 10px;
  font-size: 1.6rem;
  line-height: 2em;
}

.cooperationMe__meProposal {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (orientation: portrait) and (max-width: 720px) {
  .cooperationMe__meProposal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 110vh;
  }
}

.cooperationMe__hoopPink {
  margin: 0 auto;
  position: relative;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 100%;
  max-width: 280px;
  background-image: url("../img/circle_pink.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (orientation: landscape), (min-width: 720px) {
  .cooperationMe__hoopPink {
    width: 30%;
    min-height: 30rem;
  }
}

.cooperationMe__description {
  font-size: 1.8rem;
  line-height: 2em;
  text-align: center;
}
@media screen and (orientation: landscape) and (max-width: 720px) {
  .cooperationMe__description {
    font-size: 1.5rem;
  }
}

.cooperationMe__wrapOffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cooperationMe__wrapOffer img {
  width: 700px;
}
@media screen and (max-width: 720px) {
  .cooperationMe__wrapOffer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cooperationMe__wrapOffer img {
    width: 200px;
  }
}

.cooperationMe__wrapOfferText {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cooperationMe__descriptionOffer {
  margin-bottom: 10px;
  font-size: 1.8rem;
  line-height: 2em;
}
.cooperationMe__descriptionOffer li {
  text-align: start;
}
@media screen and (orientation: landscape) and (max-width: 720px) {
  .cooperationMe__descriptionOffer {
    font-size: 1.5rem;
  }
}

.cooperationMe__spanDesignation {
  font-size: 1.8rem;
  line-height: 2em;
  text-shadow: 0.5px 0.5px;
}

.you {
  padding: 3%;
}

.you__wrapChange {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 720px), (orientation: landscape) {
  .you__wrapChange {
    height: 50vh;
    min-height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.you__change {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 720px) {
  .you__change {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.you__changeIcon {
  position: absolute;
  top: 50%;
  right: -30px;
  -webkit-transform: translateY(-235%);
      -ms-transform: translateY(-235%);
          transform: translateY(-235%);
  width: 100px;
}
@media screen and (orientation: portrait) and (max-width: 720px) {
  .you__changeIcon {
    rotate: 95deg;
    right: 0;
    -webkit-transform: translate(0, 70%);
        -ms-transform: translate(0, 70%);
            transform: translate(0, 70%);
  }
}

.you__changeIcon--spiral {
  rotate: 10deg;
  -webkit-transform: translateY(-220%);
      -ms-transform: translateY(-220%);
          transform: translateY(-220%);
}
@media screen and (orientation: portrait) and (max-width: 720px) {
  .you__changeIcon--spiral {
    top: 80%;
    -webkit-transform: translateY(65%);
        -ms-transform: translateY(65%);
            transform: translateY(65%);
    rotate: 100deg;
  }
}

.you__changeContent {
  padding: 5% 0;
  min-height: 100px;
}
.you__changeContent p {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  text-align: center;
}

.you__changeContent--emphasis p {
  text-shadow: 1px 0 0;
}

.arrow__cooperation {
  width: 90px;
  margin-left: 5px;
}
@media (max-width: 720px) {
  .arrow__cooperation {
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 50px;
  }
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.carousel-slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.carousel-slide * {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.carousel-button {
  position: absolute;
  bottom: 20%;
  width: 70px;
  height: 45px;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}
@media screen and (max-width: 720px) {
  .carousel-button {
    bottom: 50px;
    height: 80vh;
  }
}

@media screen and (min-width: 720px) {
  .carousel-button:hover {
    width: 80px;
    height: 50px;
  }
}

.carousel-button.prev {
  left: 10px;
  background-image: url("../img/1.svg");
}
@media screen and (max-width: 720px) {
  .carousel-button.prev {
    background-image: none;
    left: 0;
  }
}

.carousel-button.next {
  right: 10px;
  background-image: url("../img/1.svg");
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
@media screen and (max-width: 720px) {
  .carousel-button.next {
    background-image: none;
    right: 0;
  }
}

.close-offer {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
  z-index: 11;
}
@media screen and (max-width: 1024px) {
  .close-offer {
    right: 5px;
  }
}

.carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 10;
}
@media (max-width: 720px) {
  .carousel-dots {
    gap: 5px;
    bottom: 40px;
  }
}

.carousel-dot {
  width: 13px;
  height: 8px;
  border-radius: 50px;
  background: rgba(153, 153, 153, 0.3098039216);
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.carousel-dot.active {
  width: 20px;
  height: 9px;
  background: #aaa;
  -webkit-transform: scaleX(1.2);
      -ms-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.recruitment {
  padding: 3%;
}

.recruitment__content {
  height: 50vh;
  background-color: #ddd;
}

.talkMe {
  position: relative;
  padding: 3%;
  min-height: 60vh;
}
@media (max-width: 720px) and (orientation: landscape) {
  .talkMe {
    min-height: 500px;
  }
}

.talkMe__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.talkMe__contactElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.talkMe__icon {
  margin-right: 1rem;
  width: 70px;
}
@media (min-width: 720px) {
  .talkMe__icon {
    width: 100px;
  }
}

.talkMe__adres {
  font-size: 1.8rem;
}

.blog {
  padding: 3%;
  min-height: 100vh;
}

.blog__wrap {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 920px) {
  .blog__wrap {
    margin-top: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.instagram-media {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
}
@media screen and (min-width: 920px) {
  .instagram-media {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    border-radius: 20px;
  }
}/*# sourceMappingURL=typowaHR.css.map */