.aboutMe {
  padding: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.me {
  margin: 20px 0 20px 0;
  padding-top: 2%;
  text-align: center;
  font-size: 14px;
  word-spacing: 4px;
  letter-spacing: 0.7px;
}
.me__name {
  padding: 10px 0 10px 0;
  font-size: 3.2rem;
}

.me__description {
  padding: 5px 0 5px 0;
  font-size: 1.6rem;
  padding: 10px;
}

.work {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 720px) {
    padding: 10px;
    flex-direction: column;
  }
}
.work__myJob {
  flex-basis: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  @media screen and (max-width: 720px) {
    justify-content: center;
  }

  @media (orientation: landscape) and (max-width: 1024px) {
    flex-basis: 30%;
  }
}

.work__icon {
  margin: 20px;
  width: 50px;
}

.work__subtitle {
  align-self: center;
  font-size: 2.2rem;
  line-height: 2em;
  text-shadow: 0.5px 0 0;
  @media screen and (max-width: 720px) {
    width: 40%;
  }
}

.work__collection {
  width: 100%;
}
.work__description {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.7rem;
  line-height: 2em;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}
.partner__cooperation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 1rem;
  @media (min-width: 900px) {
    flex-direction: row;
    width: 100%;
  }
  @media (orientation: landscape) and (max-width: 900px) {
    width: 90%;
  }
}
.partner__wrapDescription {
  width: 35%;
  @media (max-width: 900px) {
    width: 100%;
  }
}
.partner__description {
  text-align: left;
  font-size: 1.8rem;
  @media (max-width: 900px) {
    text-align: center;
  }
}

.partner__wrapCompany {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: 920px), (orientation: landscape) {
    width: 60%;
  }
}

.partner__Company {
  position: relative;
  width: 100%;
  border-radius: 20px;
  padding: 0 20px;
  background-color: #ff00c999;
  color: white;
  line-height: 2em;
  font-size: 1.4rem;
  animation: brand 7s infinite linear alternate;
}
.partner__Company--alternate {
  animation: brand 7s infinite linear alternate-reverse;
}
@keyframes brand {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

//* POPAP MOJE BIO
.bio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  @media (max-width: 1023px) and (orientation: portrait) {
    flex-direction: column-reverse;
  }
}
.photoBio {
  height: 30rem;
  margin: 20px;
  @media (max-width: 1024px) {
    height: min(20vh, 80rem);
    flex-shrink: 1;
  }
}
.bio__description {
  margin: 20px;
  flex-shrink: 1;
  max-height: 70%;
  overflow: scroll;
  @media (orientation: landscape) {
    max-width: 60%;
    max-height: fit-content;
  }
  p {
    font-size: 1.6rem;
    line-height: 2em;
    @media (max-width: 1024px) {
      font-size: 1rem;
      text-align: center;
    }
  }
  span {
    font-size: 2.5rem;
    line-height: 2em;
    font-weight: bold;
    @media (max-width: 1024px) {
      font-size: 1.2rem;
    }
  }
  .closeSvg {
    display: block;
    margin: 0 10px 0 auto;
    width: 2rem;
    height: 2rem;

    @media (max-width: 1024px) {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
//* END POPAP MOJE BIO
