.blog {
  padding: 3%;
  min-height: 100vh;
}

.blog__wrap {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 920px) {
    margin-top: 30px;
    justify-content: space-around;
  }
}

.instagram-media {
  flex-basis: 51%;

  @media screen and (min-width: 920px) {
    flex-basis: 20%;
    border-radius: 20px;
  }
}