* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: nowregular, Arial, Helvetica, sans-serif;
  font-size: 10px;
  h1 {
    font-weight: normal;
  }
  h2 {
    font-weight: normal;
  }

  button {
    border: 0;
    font-weight: normal;
    background-color: transparent;
    cursor: pointer;
  }
}

@font-face {
  font-family: 'nowregular';
  src: url('./now/now-regular-webfont.woff2') format('woff2'),
    url('css/now/now-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  max-width: 1400px;
}
.nameSection {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nameSection__icon {
  height: 50px;
  padding-right: 10px;
}

.nameSection__title {
  // padding: 0 0 0 3%;
  width: fit-content;
  max-width: 60%;
  font-size: 2.1rem;
  text-align: center;
  text-shadow: 0.5px 0 0;
}
.nameSection__title--youChange {
  font-size: 1.6rem;
}
.btn {
  margin: 10px 10px 10px auto;
  width: fit-content;
  max-width: 60%;
  height: fit-content;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-shadow: 0.7px 0 0;
  @media (min-width: 720px) {
    margin-bottom: 50px;
  }
}
.btn__icon {
  width: 60px;
}
.btn__icon--taskCooperation {
  height: 20px;
  transform-origin: right;
  rotate: -45deg;
}
.btn__description {
  padding: 10px 0 10px 10px;
  font-size: 1.7rem;
  text-align: left;
}
