.cooperationMe {
  padding: 3%;
}

.taskCooperation {
  margin: 0 auto;
  li {
    display: flex;
    align-items: center;
    p {
      padding-left: 10px;
      font-size: 1.6rem;
      line-height: 2em;
    }
  }
}

.cooperationMe__meProposal {
  height: 80vh;
  display: flex;
  align-items: center;
  @media screen and (orientation: portrait) and (max-width: 720px) {
    flex-direction: column;
    height: 110vh;
  }
}

.cooperationMe__hoopPink {
  margin: 0 auto;
  position: relative;
  flex-basis: 40%;
  width: 100%;
  max-width: 280px;
  background-image: url('../img/circle_pink.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (orientation: landscape), (min-width: 720px) {
    width: 30%;
    min-height: 30rem;
  }
}
.cooperationMe__description {
  font-size: 1.8rem;
  line-height: 2em;
  text-align: center;
  @media screen and (orientation: landscape) and (max-width: 720px) {
    font-size: 1.5rem;
  }
}
