.header {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 350px;
  background-color: #d9d9d9;
}

.header__wrapNav {
  width: 100%;
  max-width: 1400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    background-color: #fff;
  }
}

.header__wrapNav--scrol {
  background-color: #d9d9d9;
}

.header__logo {
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (min-width: 1024px) {
    padding: 10px;
  }
}

.logo__icon {
  height: 100%;
}


.meet__icon {
  width: fit-content;
  position: relative;
  color: #ff02c9;


}

@media screen and (min-width: 720px) {
  .meet__icon:hover {
    svg {
      height: 60px;
      width: 60px;
    }
  }

  .meet__icon::after {
    content: 'Umów spotkanie!';
    position: absolute;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    left: 110%;
    font-size: 1.2rem;
    width: 0px;
    overflow: hidden;
    transition: all .5s ease;
    font-size: 1.4rem;
    text-shadow: 0 0 .1px #ccc;
  }

  .meet__icon:hover::after {
    width: 120px;
  }
}

.nav__icon {
  position: fixed;
  bottom: 30px;
  left: -18px;
  z-index: 1;
  border-radius: 30px;

  @media (min-width: 1024px) {
    display: none;
  }

  @media (orientation: landscape) {
    bottom: 50%;
    transform: translateY(50%);

  }

}

.nav__icon--active {
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  transform: translateY(0%);

  svg {
    display: none;
  }
}

.nav__elements {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 150%;
  transform: translate(50%, -50%);
  width: 80%;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.3s ease;


  @media screen and (max-width: 940px) and (orientation: landscape) {
    justify-content: space-around;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    padding: 0;
    position: sticky;
    transform: translate(0);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.nav__element {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid black;

  @media (min-width: 1024px) {
    border: none;
  }
}

.nav__text {
  font-size: 1.8rem;
  line-height: 2em;
  color: #000;
}

.header__wrapPerson {
  position: sticky;
  top: 30%;
  height: 60%;
  background: url('../img/TypowoAgata.png') center calc(-240px)/cover no-repeat;

  @media screen and (max-width: 1024px) {
    background-position: center calc(-120px);
  }


  @media screen and (orientation: portrait) {
    // position: sticky;
    height: 40%;
    background: url('../img/TypowoAgata.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }




}

.header__person {}