.nav__icon {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 3;
  i {
    font-size: 3rem;
  }
}

.nav__elements {
  display: none;
  // display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  padding: 0 26px;
  width: 80%;
  background-color: #fff;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 940px) and (orientation: landscape) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.nav__element {
  padding: 26px;
  text-align: center;
  font-size: 1.9em;
  color: #000;
  cursor: pointer;
  border-bottom: 2px solid black;
}
