.recruitment {
  padding: 3%;
}

.recruitment__content {
  height: 50vh;
  background-color: #ddd;
}

// div.recruitment

//     margin: 0 5%
//     padding-top: 3%
//     div.currentRecrutment
//         margin: 0 auto 0 auto
//         max-width: 1000px
//         // height: 80vh
//         display: flex
//         justify-content: space-around
//         align-items: center

//         article
//             width: 25vw
//         @media screen and ( max-width: 920px )
//             flex-wrap: wrap
//             article
//                 width: 40vw
//         @media screen and ( max-width: 520px )

//         li
//             text-align: center
//             font-size: 25px
//         h1
//             padding: 7%
//             font-size: 1.5em
//             text-align: center
