.you {
  padding: 3%;
}
.you__wrapChange {
  margin: 0 auto;
  width: 100%;

  @media (min-width: 720px), (orientation: landscape) {
    height: 50vh;
    display: flex;
    align-items: center;
  }
}
.you__change {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  position: relative;
  @media (max-width: 720px) {
    height: 100%;
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
}

.you__changeIcon {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-235%);
  width: 100px;
  @media screen and (orientation: portrait) and (max-width: 720px) {
    rotate: 95deg;
    right: -0;
    transform: translate(0, 80%);
  }
}
.you__changeIcon--spiral {
  rotate: 10deg;
  transform: translateY(-220%);
  @media screen and (orientation: portrait) and (max-width: 720px) {
    top: 80%;
    transform: translateY(80%);
    rotate: 110deg;
  }
}
.you__changeContent {
  padding: 5% 0;
  min-height: 100px;
  p {
    margin: 0 auto;
    display: block;
    width: fit-content;
    font-size: 2rem;
    text-align: center;
  }
}
.you__changeContent--emphasis {
  p {
    text-shadow: 1px 0 0;
  }
}
