.you {
  padding: 3%;
}
.you__wrapChange {
  margin: 0 auto;
  height: 80vh;
  max-width: 40rem;
  @media (min-width: 700px) {
    max-width: 1000px;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.you__change {
  min-height: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  @media (min-width: 700px) {
    height: 50%;
    max-height: 200px;
    align-items: center;
  }
}

.you__changeIcon {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateX(100%);
  transform-origin: right;
  rotate: 95deg;
  width: 74px;
  @media (min-width: 700px) {
    width: 80%;
    top: 0;
    transform: translate(65px, -10px);

    rotate: 0deg;
  }
  @media (min-width: 900px) {
    transform: translate(100px, -10px);
  }
}
.you__changeIcon--spiral {
  @media (max-width: 700px) {
    top: 50%;
    rotate: 115deg;
    transform: translateX(130%);
  }
}
.you__changeContent {
  padding: 5% 0 0 0;
  p {
    display: block;
    width: fit-content;
    font-size: 2rem;
  }
}
